<footer class="text-center text-lg-start text-white" style="background-color: #1c2331">

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mt-4">Informações</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        Esse hotel é fictício e as imagens foram pegas do Google. Site feito com Python e o framework Django, com a ajuda da
                        estilização fornecida pelo Bootstrap. Não se esqueça de cobrir os pés quando for dormir, nunca se sabe o que te observa à
                        noite no canto do teu quarto.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mt-4">Produtos</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">Alguma coisa</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Outra coisa</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Algum negócio</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Outro Negócio</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mt-4">Links</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">Torne-se um afiliado</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Ajuda</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mt-4">Contate-nos</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p><i class="fas fa-home mr-3"></i> Algum lugar, blublu 00000, blu</p>
                    <p><i class="fas fa-envelope mr-3"></i> emaildohotel@blublu.com</p>
                    <p><i class="fas fa-phone mr-3"></i> + 11 11 11111-1111</p>
                    <p><i class="fas fa-print mr-3"></i> + 22 22 22222-2222</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>

</footer>